body {
  margin: 0;
  font-family: Helvetica; serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  border: 1px solid seashell;
  text-align: center;
}

.header {
  position: fixed;
  background-color: black;
  font-weight: bold;
  color: white;
  width: 100%;
  padding-left: 10px;
}

nav span {
  text-align: right;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.image-content {
  background-image:
  url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-content span{
    background: black;
    width: 100%;
    text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.specialties-container {
  display: flex;
  justify-content: center;
}

.specialties {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.specialties-berry {
  width: 300px;
  height: 200px;
}

.specialties-rum {
  width: 300px;
  height: 200px;
}

.specialties-donuts {
  width: 300px;
  height: 200px;
}
.specialties-myrtle {
  width: 300px;
  height: 200px;
}
.specialties-bedford {
  width: 300px;
  height: 200px;
}

.locations-background {
  display: flex;
  height: 500px;
  width: 1200px;
}

.locations-background span {
  text-align: center;
}

.info {
  text-align: center;
}
.copyright {
text-align: left;
padding-left: 20px;
}
